*{
    margin: 0;
    padding: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 107, 124, 0.7), #54e2fe), url(media/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #ffffff;
    z-index: 10;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 15px 70px;
    font-weight: 500;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav .logo{
    width: 100px;
    cursor: pointer;
}

.nav-btn{
    background: #ffffff;
    color: #000000;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    
}

.nav-item{
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer; 
}
.about{
    width: 100%;
    padding: 78px 0;
    background-color: transparent; 
}
.background-img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.header{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.about-text h1{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #000000;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #ffffff;
}
.about-text p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.btn-container{
    margin: 20px 0;
}
.header button{
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;

}

.header p{
    max-width: 360px;
    font-weight: 500px;
}

.header h1 span:first-child{
    animation: textcolor1 5s linear infinite alternate;
}
.header h1 span:last-child{
    animation: textcolor2 5s linear infinite alternate;
}

.menu-icon{
    display: none;
}

/* ---------- Media Queries for navbar ------ */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        width: 100%;
        background: #fff;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-heigt 0.5s;
    }
    .nav-btn{
        display: flex;
    }
    nav .logo{
        width: 150px;
    }
    nav ul li{
        margin: 10px;
        font-size: 14px;
    }
    .menu-icon{
        display: block;
        width: 30px;
    }
    .show-menu{
        max-height: 60px;
    }
}
@media(max-width: 800px){
    .background-img{
        display: none;    
    }
    .about-text h5{

        margin-bottom: 15px;

    }
}